<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" href="resources/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>

	<div class="contenedor">

		<!--Contenedor para la imagen de fondo-->
		<div class="contenedor-img">
			<figure class="imagen-fondo">
				<img src="" alt="">
			</figure>
		</div>

		<!--Contenedor para el formulario-->
		<div class="contenedor-cont">

			<div class="contenedor-form">
				<form action="auth" method="POST">
					<h1>Iniciar Sesion</h1>
					<img src="https://i.pinimg.com/564x/0a/d7/ba/0ad7ba54a19cf98803f08d7265c94b6c.jpg" alt="">
					<input type="text" name="user" placeholder="User" autofocus required autocomplete="off">
					<input type="password" name="pass" placeholder="Password" required>
					<input type="submit" class="btn-login" value="Login">
					<a href="register" class="btn-register">Register</a>
				</form>

			</div>

		</div>

		<!--CND SWEET ALERT -->
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

		<% if (typeof alert !="undefined" ) { %>
			<script>
				Swal.fire({
					title: '<%= alertTitle %>',
					text: '<%= alertMessage %>',
					icon: '<%= alertIcon %>',
					showConfirmButton: <%= showConfirmButton %>,
					timer: <%= timer %>
    }).then(() => {
						window.location = '/<%= ruta %>'
					})
			</script>
			<% } %>
	</div>

	<!--
	<div class="login-form">
		<h1>Login con Node Js</h1>
		<form action="auth" method="POST">
			<input type="text" name="user" placeholder="User" autofocus required>
			<input type="password" name="pass" placeholder="Password" required>
			<input type="submit" class="btn-login" value="Login">
		</form>
		<a href="register" class="btn-register">Register</a>


		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

		<% if (typeof alert !="undefined" ) { %>
			<script>
				Swal.fire({
					title: '<%= alertTitle %>',
					text: '<%= alertMessage %>',
					icon: '<%= alertIcon %>',
					showConfirmButton: <%= showConfirmButton %>,
					timer: <%= timer %>
    }).then(() => {
						window.location = '/<%= ruta %>'
					})
			</script>
			<% } %>
	</div>
	-->
</body>

</html>